/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i");


body {
  font-family: "Roboto";
}
 section
{
	overflow: hidden;
	scroll-behavior: smooth;
}
/*==============Button on get top============*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 12px;
  z-index: 99;
  border: none;
  outline: none;
  color: #007bff;
  font-size: 25px;
  cursor: pointer;
  background-color: #ffc107;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

.box-style
{
  font-size: 24px;
  position: absolute;
  top: 18px;
  left: 8px;
}

#myBtn:hover {
  color: #fff;
  background-color: blue;
}

/*===============Mobile navbar===============*/
.sidenav1 {
  display: none;
}

.sidenav1 .closebtn {
  display: none;
}

.open-nav
{
	display: none;
}
.navbar
{
	display: none;
}
/*===============Desktop navbar===============*/
.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

.sidenav a {
  	text-decoration: none;
    display: flex;
    width: 53px;
	height: 54px;
    border-radius: 50px !important;
	margin: 9px 22px;
	align-items: center;
	padding: 10px 16px;
	border: transparent;
}
.sidenav a .bx
{
	font-size: 20px;
}
.sidenav a .bx-spac1
{
	padding: 10px 1px;
}
.sidenav a span
{
	visibility: hidden;
	font-size: 13px;
}

.sidenav a:hover > span
{
	transition: all 0.2s;
	visibility: visible;
	color: #f1f1f1;
	align-items: center;
	font-size: 13px;
    width: 90px;
    border-color: #007bff;
}
.sidenav a:hover
{
	transition: all 0.10s;
	color: #f1f1f1;
    background-color: #007bff;
    width: 105px;
    border-color: #007bff;
}

.list-group-item.active
{
    border-radius: 50px;
    font-size: 15px;
}

.list-group-item.border
{
	border-radius: 50px;
    font-size: 15px;
	border: none !important;
}

.heading
{
	font-size: 30px;
	font-weight: 800;
    margin-bottom: 20px;
}

.heading::before {
    content: '';
    position: relative;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
	top: 38px;
}

.heading::after {
    content: '';
    position: relative;
    display: block;
    width: 40px;
    height: 3px;
    background: #0563bb;
    bottom: 0;
    left: calc(50% - 20px);
}

/*===============Section 1===============*/
.s1
{
	padding-left: 0px;
	padding-right: 0px;
}
.s1 .hero
{
	padding-left: 210px;
}
.s1 .positioning
{
	position: absolute;
}
.s1 .content2
{
	font-size: 20px;
    margin-top: 330px;
    margin-left: 210px;
	color: #45505b;
	font-family: "Poppins", sans-serif;
}
.s1 .main-heading
{
	font-size: 40px;
    color: #FFFFFF;
    font-weight: 800;
    font-family: "Roboto";
    margin-top: 270px;
}

.s1 a i
{
	font-size: 25px;
	color: white;
	margin: 10px;
}

.s1 a i:hover
{
	font-size: 25px;
	color: #007bff;
}

.typeit-styles
{
	color: #007bff; 
	font-weight: 500;
	font-size: 20px;
}
/*===============Section 2===============*/
.s2 li p
{
	font-size: 15px;
}

.s2 a
{
	text-decoration: none;
}

.s2image
{
	border-radius: 20px;
}

.s2heading
{
	font-weight: 700;
    font-size: 26px;
    color: #728394;
	font-family: "Raleway", sans-serif;
}

/*===============Section 3===============*/

.s3size
{
	font-size: 13px;
	font-weight: 600;
}

.s3process
{
	height: 10px;
	border-radius: 0;
}

.s3 span
{
	float:right;
}

/*===============Section 4===============*/

.s4border
{
	border-left: 2px solid #007bff;
    position: relative;
    margin-top: 10px;
    padding: 0px 0px 20px 20px;
}

.s4border::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #0563bb;
}

.s4underline
{
	text-decoration-line: underline;
	text-decoration-thickness: 2px;
	text-decoration-style: solid;
  	text-decoration-color: #8B8A8A;
}

.s4fontstyle
{
	font-family: "Raleway", sans-serif;
}

.s4heading
{
	font-size: 22px;
	color: #007bff;
	font-weight: 600;
}

.s4content
{
	color:dimgray;
	font-weight: 500;
}

.s4inner
{
	font-size: 20px;
	color: blue;
	font-style: italic;
}

.s4btn
{
	font-size: 14px;
	padding: 12px;
	border-radius: 30px;
}

.s4btn:hover
{
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
/*===============Section 5===============*/

.s5heading
{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 20px;
	font-family: "Raleway", sans-serif;
}

.s5 .card
{
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	border-color: transparent;
	background-color: #f8f9fa;
}

.s5 .card h3
{
	color: dodgerblue;
	font-size: 20px;
}

.s5 .card i
{
	font-size: 40px;
	color: blueviolet;
	margin: 20px;
}
/*===============Section 6===============*/

.s6heading
{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 20px;
	font-family: "Raleway", sans-serif;
}
.s6-card-image
{
	width: 50%;
}

.s6-card-image2
{
	width: 80px;
	height: 80px;
}

.s6 .card
{
	border-radius: 20px;
	background-color: white;
	border-color: transparent;
}

.s6 .card:hover
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.s6 a
{
	text-decoration: none;
	color: blueviolet;
}

.s6 i
{
	font-size:25px;
}

/*===============Section 7===============*/
.s7 .border-contact
{
	border-radius: 10px;
	padding: 20px;
}
.s7-spacing
{
	padding: 20px;
}

.s7heading
{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 20px;
	font-family: "Raleway", sans-serif;
}

.s7 i
{
	font-size: 20px;
    color: #0563bb;
    float: left;
    width: 44px;
    height: 44px;
    background: #eef7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.s7 .address:hover > i
{
	background: #0563bb;
	color:#eef7ff;
}

.s7 .email:hover > i
{
	background: #0563bb;
	color:#eef7ff;
}

.s7 .phone:hover > i
{
	background: #0563bb;
	color:#eef7ff;
}

.s7 .s7label
{
	padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #45505b;
}

.s7 .s7content
{
	padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #728394;
}

/*===============Footer section===============*/

footer span
{
	font-family: "Roboto";
	font-size: 13px;
}

@media screen and (max-width: 1024px) 
{
/*
	body
	{
		width:100%;
		overflow-x:hidden;
	}
*/
	.s1 a i 
	{
      font-size: 30px;
      color: white;
      margin-top: 5px;
    }
	.s1 .hero
	{
		padding-left: 0px;
	}
	.main
	{
		margin-left: 0px;
	}
	.sidenav
	{
		display: none !important;
	}
	.s1 .hero
	{
		text-align: center;
	}
	.s1 .content2 
	{
		font-size: 25px;
        margin-left: 30px;
        margin-top: 130px;
        line-height: 27px;
		font-family: "Poppins", sans-serif;
	}
	.s1 .main-heading 
	{
		font-size: 30px;
        margin-left: 30px;
        margin-top: 90px;
	}
	/*===============Mobile navbar===============*/
	.sidenav1 {
	  height: 100%;
	  width: 0;
	  position: fixed;
	  z-index: 1;
	  top: 0;
	  left: 0;
	  color: #000;
	  background-color: whitesmoke;
      font-family: "Poppins", sans-serif;
	  overflow-x: hidden;
	  transition: 0.5s;
	  padding-top: 60px;
	  display: inline-block;
	}

	.sidenav1 a {
	  padding: 8px 8px 8px 32px;
	  text-decoration: none;
	  font-size: 25px;
	  color: #000;
	  display: block;
	  transition: 0.3s;
      text-align: center;
      margin-left: -35px;
	}

	.sidenav1 a:hover {
	  color: #f1f1f1;
	}

	.sidenav1 .closebtn {
	  position: absolute;
	  top: 0;
	  right: 25px;
	  font-size: 36px;
	  margin-left: 50px;
	  display: block;
	}
	.open-nav
	{
		font-size:30px;
		cursor:pointer;
		margin-left: 20px;
    	margin-top: 10px;
		display: block;
		z-index: 9948;
		color: #111;
		overflow: hidden;
		position: fixed;
		right: 20px;
	}
	@media screen and (max-height: 450px) {
	  .sidenav1 {padding-top: 35px;}
	  .sidenav1 a {font-size: 18px;}
	}
	.navbar
	{
		display: block;
		background-color: darkgoldenrod;
	}
	.typeit-styles 
	{
		color: #007bff;
		font-weight: 500;
		font-size: 20px;
	}
}
@media only screen and (max-width: 280px) and (min-width: 240px) 
{
/*
	body
	{
		width:100%;
		overflow-x:hidden;
	}
*/
	.s1 a i 
	{
      font-size: 15px;
      color: white;
      margin: 7px;
    }
	.s1 .content2 
	{
		font-size: 14px;
        margin-left: 8px;
        margin-top: 53px;
        line-height: 13px;
        font-family: "Poppins", sans-serif;
		color: #45505b;
	}
	.s1 .main-heading 
	{
		font-size: 15px;
        margin-left: 9px;
        margin-top: 30px;
	}
	.s7-font
	{
		font-size: 13px;
	}
	.s7-spacing
	{
		padding: 0px;
	}
	.s7 .border-contact 
	{
		border-radius: 10px;
		padding: 18px 18px 18px 7px;
	}
	/*===============Mobile navbar===============*/
	

	.sidenav1 {
	  height: 100%;
	  width: 0;
	  position: fixed;
	  z-index: 1;
	  top: 0;
	  left: 0;
      background-color: whitesmoke;
      font-family: "Poppins", sans-serif;
	  overflow-x: hidden;
	  transition: 0.5s;
	  padding-top: 60px;
	  display: inline-block;
	}

	.sidenav1 a {
	  padding: 8px 8px 8px 32px;
	  text-decoration: none;
	  font-size: 25px;
	  color: #000;
	  display: block;
	  transition: 0.3s;
	}

	.sidenav1 a:hover {
	  color: #f1f1f1;
	}

	.sidenav1 .closebtn {
	  position: absolute;
	  top: 0;
	  right: 25px;
	  font-size: 36px;
	  margin-left: 50px;
	  display: block;
	}
	.open-nav
	{
		font-size:30px;
		cursor:pointer;
		position: fixed;
		margin-left: 20px;
    	margin-top: 10px;
		z-index: 9948;
		overflow: hidden;
		color: #111;
		display: block;
		right: 20px;
	}
	@media screen and (max-height: 450px) {
	  .sidenav1 {padding-top: 35px;}
	  .sidenav1 a {font-size: 18px;}
	}
	.navbar
	{
		display: block;
		background-color: darkgoldenrod;
	}
	.navbar-dark .navbar-brand
	{
		color: #fff;
    	font-size: 16px;
	}
	.navbar-expand-lg .navbar-nav .nav-link
	{
		font-size: 16px !important;
	}
	.typeit-styles 
	{
		color: #007bff;
		font-weight: 500;
		font-size: 14px;
	}
}
@media only screen and (max-width: 500px) and (min-width: 320px) 
{
/*
	body
	{
		width:100%;
		overflow-x:hidden;
	}
*/
	.s1 .content2 
	{
		font-size: 16px;
        margin-left: 13px;
        margin-top: 80px;
        line-height: 14px;
        font-family: "Poppins", sans-serif;
        color: #45505b;
	}
	.s1 .main-heading 
	{
		font-size: 18px;
		margin-left: 13px;
		margin-top: 55px;
	}
	
	.s1 a i 
	{
      font-size: 19px;
      color: white;
      margin-top: 5px;
    }
	/*===============Mobile navbar===============*/

	.sidenav1 {
	  height: 100%;
	  width: 0;
	  position: fixed;
	  z-index: 1;
	  top: 0;
	  left: 0;
	  background-color: whitesmoke;
      font-family: "Poppins", sans-serif;
	  overflow-x: hidden;
	  transition: 0.5s;
	  padding-top: 60px;
	  display: inline-block;
	}

	.sidenav1 a {
	  padding: 8px 8px 8px 32px;
	  text-decoration: none;
	  font-size: 25px;
	  color: #000;
	  display: block;
	  transition: 0.3s;
      text-align: center;
      margin-left: -20px;
	}

	.sidenav1 a:hover {
	  color: #f1f1f1;
	}

	.sidenav1 .closebtn {
	  position: absolute;
	  top: 0;
	  right: 25px;
	  font-size: 36px;
	  margin-left: 50px;
	  display: block;
	}
	.open-nav
	{
		font-size:30px;
		cursor:pointer;
		position: fixed;
		margin-left: 20px;
    	margin-top: 10px;
		z-index: 9948;
		color: #111;
		display: block;
		right: 20px;
	}
	@media screen and (max-height: 450px) {
	  .sidenav1 {padding-top: 35px;}
	  .sidenav1 a {font-size: 18px;}
	}
	.navbar
	{
		display: block;
		background-color: darkgoldenrod;
	}
	.typeit-styles 
	{
		color: #007bff;
		font-weight: 500;
		font-size: 14px;
	}
	.s7 .border-contact
	{
		font-size: 12px;
	}
}

/*	//// navbar styles ////*/


/*
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 22px;
}

 ANIMATED X 
.navbar-toggler.x {
	border: none;
    background-color: none;
    width: 47px;
    height: 30px;
}
.navbar-toggler.x:focus {
    outline: none;
}
.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
}
.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
}
.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
}
.navbar-toggler.x .icon-bar {
    width: 22px;
    display: block;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.navbar-toggler.x .icon-bar + .icon-bar {
    margin-top: 4px;
}
.navbar-toggler.x .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}
.navbar-toggler.x .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
}
.navbar-toggler.x .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

input:focus,
input:hover,
input:active {
    outline: none;
    box-shadow: none;
}

.navbar .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: none !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}

.navbar .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0 20px 20px 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
*/


/*	//// End navbar styles ////*/

